<!DOCTYPE html>
<html>
  <head>
    <title>Raddit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="container-lg">
        <div class="row justify-content-center mt-3">
          <div class='col-12'>

            <%= render 'shared/flash', flash: flash %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
